.card {
  width: 340px;
  height: 340px;
  background-color: #ff6060;
  border-radius: 10px;
  position: relative;
}

.layer {
  width: 340px;
  height: 340px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  border-radius: 10px;
  /* padding: 20px; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.title {
  color: white ;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  position: absolute;
  display: inline;
  padding: 20px;
  font-size: 18px;
}

.imgContainer{
  width: 340px;
  height: 340px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-radius: 25px;
  overflow: hidden;
  object-fit: cover;
  position: absolute;
}